.benefits-list {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}

.benefits-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-top: 30px;
  margin-left: 30px;
}

.benefits-card {
  position: relative;
}
.benefits-title {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);

  padding-top: 27px;
  padding-bottom: 27px;
}