.team {
  background-color: var(--background-color-light);
}

.team-list {
  display: flex;
  flex-wrap: wrap; /* на случай увеличениея кол-во членов команды*/
  margin-left: -30px;
  margin-top: -30px;
}

.team-item {
  flex-basis: calc((100% - 120) / 4);
  margin-left: 30px;
  margin-top: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
.team-social-link {
  fill: var(--social-color);
}

.team-card {
  padding: 30px 30px;
  background-color: var(--primary-white-color);
}
