.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.modal-form-label {
  margin-bottom: 10px;

  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal-form-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  cursor: pointer;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.modal-form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  cursor: pointer;
  transform: translateY(-50%);

  transition: fil 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-form-input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-form-comment {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;

  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-black-color);

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  cursor: pointer;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.modal-form-contract-label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 24px;
  margin-top: 10px;
  padding-left: 13px;
  margin-bottom: 30px;

  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);

  &::before {
    content: "";
    display: block;
    width: 16px;
    height: 15px;
    border: 1px solid #212121;
    margin-right: 7px;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-form-contract-checkbox:checked + &::before {
    border: none;
    background-image: url(../images/icon-check.svg);
  }
}

.form-btn {
  margin: 0 auto;
}
