h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0%;
  list-style: none;
}

.link {
  text-decoration: none;
}

.body {
  font-family: var(--font-roboto), sans-serif;
  color: var(--primary-text-color);
  font-weight: 400;
  background-color: var(--primary-white-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}