:root {
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --primary-black-color: #000000;
  --background-color-light: #f5f4fa;
  --social-color: #afb1b8;

  --font-roboto: "Roboto";
  --font-releway: "Raleway";
}
